{% extends 'base.html' %}

{% block content %}



<style>


    .row row-cols-1 row-cols-md-2{
        height: 300px;
    }

    .mb-4{
        width: 400px;
        margin-left: 50px;
    }

    .card{
        width: 300px;
    }

    .card-img-top{
        height: 400px;
        width: 300px;
    }


</style>

<a><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.s9TfIrtGqETZo0jz-ebK3wHaEo%26pid%3DApi&f=1"> </a>

<div class="row row-cols-1 row-cols-md-2">
    {% for post in posts %}
    <div class="mb-4">
      <div class="card">
        <div class="view overlay" >
            <a href="{{post.image.url}}"><img class="card-img-top" src="{{post.image.url}}" alt=""></a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{post.name}}</h4>
          <p class="card-text">Age: {{post.age}}</p>
          <a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">More info</a>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
{% endblock %}